# === Зависимости ===
node_modules/
package-lock.json

# === Сборки (не храним, их генерирует CI/CD) ===
dist/
build/

# === Логи ===
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# === Переменные окружения (секреты не коммитим) ===
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# === Кэш/артефакты инструментов ===
*.tsbuildinfo
.eslintcache
.stylelintcache
.parcel-cache/
.turbo/
.cache/
.tmp/
.vite/
vite.cache/
coverage/
.nyc_output/

# === Файлы/папки IDE ===
.vscode/
.idea/
.vs/

# === Системные файлы ОС ===
.DS_Store
Thumbs.db

# === Прочее, что не требуется в репозитории/деплое ===
*.local